html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*, 
*::before, 
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
    font-family: var(--font-main);
    line-height: 1.6;
    min-height: 100vh;
}

img, picture, svg{
    display: block;
    max-width: 100%;
}

input, button {
    font: inherit;
}

a{
    text-decoration: none;
    color: inherit;
    font-family: var(--font-main);
}

ul, ol{
    list-style: none;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}


