body {
    font-family: var(--main-font);
    font-feature-settings: 'cv11'; 
    -webkit-font-smoothing: antialiased; 
    background: #303030;
}


.navbar-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1.6rem 2.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
}


.navbar-container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 105.6rem;
    width: 100%;
    margin: 0 auto;
    background-color: blue;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16.8rem;


    nav ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2.4rem;
    }
}

.logo-holder a{
    display: flex;
    align-items: center;
    justify-items: center;
    gap:.5rem;


    img {
        width: 2.4rem;
        height: 2.4rem;
    }
}
    

