body {
  font-family: var(--main-font);
  font-feature-settings: "cv11";
  -webkit-font-smoothing: antialiased;
  /* background: #303030; */
  color: var(--text-main-light);
  font-weight: 500;
  font-family: var(--font-main);
}

.navbar-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.6rem 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
  backdrop-filter: blur(12px);
  z-index: 999;
}

.navbar-container {
  font-size: 1.5rem;
  position: relative;
  max-width: 105.6rem;
  width: 100%;
  margin: 0 auto;
  /* background-color: blue; */
  gap: 3.2rem;
}

.navbar {
  gap: 16.8rem;

  .logo-holder {
    gap: 0.4rem;
  }

  .logo-holder span {
    font-size: 2.5rem;
    font-weight: 700;
  }

  nav ul {
    gap: 0.4rem;

    a {
      padding: 0.4rem 1.2rem;
      display: inline-block;
    }
  }
}

.logo-holder a {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 0.5rem;

  img {
    width: 2rem;
    height: 2rem;
  }
}

.hero-section .hero-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(../assets/backgroundHero.svg);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  z-index: -1;
  mask-image: linear-gradient(
    #000 0%,
    rgba(0, 0, 0, 0.99) 18.5%,
    rgba(0, 0, 0, 0.953) 34.3%,
    rgba(0, 0, 0, 0.894) 47.6%,
    rgba(0, 0, 0, 0.824) 58.5%,
    rgba(0, 0, 0, 0.74) 67.5%,
    rgba(0, 0, 0, 0.647) 74.7%,
    rgba(0, 0, 0, 0.55) 80.3%,
    rgba(0, 0, 0, 0.45) 84.7%,
    rgba(0, 0, 0, 0.353) 88%,
    rgba(0, 0, 0, 0.26) 90.5%,
    rgba(0, 0, 0, 0.176) 92.5%,
    rgba(0, 0, 0, 0.106) 94.2%,
    rgba(0, 0, 0, 0.047) 95.9%,
    rgba(0, 0, 0, 0.01) 97.7%,
    transparent 100%
  );
}

.nav-cta {
  gap: 1rem;
}

.btn {
  padding: 0.45rem 1.2rem;
  border-radius: 100rem;
}

.btn-primary {
  background-color: var(--bg-soft);
  /* border: 1px solid var(--bg-soft); */
}

.btn-secondary {
  background-color: var(--text-main-light);
  color: var(--text-black-button);
  /* border: 1px solid var(--text-main-light); */
}

.hero-tag {
  width: fit-content;
  margin: 0 auto;
  padding: 0.4rem 0.4rem;
  border-radius: 100rem;
  background-color: var(--bg-dark);
  color: var(--text-main-light);
  position: relative;
  top: 9rem;
  gap: 1rem;
  font-size: 1.4rem;
}

.tag-icon {
  width: 1.5rem;
  height: 1.5rem;
  filter: invert(1);
  margin-right: 0.8rem;
}

.new-tag {
  display: inline-block;
  padding: 0.2rem 0.8rem;
  font-size: 1.2rem;
  border-radius: 100rem;
  background-color: var(--color-brand);
  text-transform: uppercase;
}

.hero-content {
  padding-top: 12.4rem;
  padding-bottom: 9.6rem;

  h1 {
    font-size: 6.4rem;
    font-weight: 600;
    max-width: 68.8rem;
    width: 100%;
    text-align: center;
    line-height: 1.2;
    letter-spacing: -1.28px;
  }

  p {
    font-size: 1.8rem;
    text-align: center;
    line-height: 1.5;
    max-width: 47.2rem;
    margin-top: 2.4rem;
    letter-spacing: -0.4px;
  }

  form {
    max-width: 36rem;
    width: 100%;
    margin-top: 3.2rem;
    padding: 0.4rem;
    border-radius: 100rem;
    background-color: lab(100% 0 0/0.15);
    position: relative;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    border: 1px solid lab(100% 0 0/0.15);
    backdrop-filter: blur(12px);
  }

  form input {
    border: none;
    background-color: transparent;
    outline: none;
    color: var(--text-main-light);
    padding-left: 1.2rem;
    height: 3.2rem;
    width: 100%;
    border-radius: 100rem;
  }

  form input::placeholder {
    color: lab(100% 0 0/0.5);
  }

  form button {
    min-width: fit-content;
  }
}

.hero-img-container {
  margin: 0 auto;
  /* background: red; */
  width: fit-content;
  border-radius: 2.4rem;
  overflow: hidden;
  border: 1px solid var(--bg-soft);
}

.hero-img-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.clients-section {
  padding: 8rem 3.2rem 14.4rem 3.2rem;
  margin: 0 auto;
}

.clients-logo-container {
  width: 100%;
  max-width: 102.4rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.4rem;
  /* background: red; */
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 7rem;
}

.client-logo {
  width: 12.2rem;
}

.x-logo {
  width: 3rem;
}

.features-section {
  color: lab(2.42579% -0.165291 -0.470081);
  width: 102.4rem;
  margin: 0 auto;
  margin-bottom: 14.4rem;
}

.feature-heading {
  gap: 1.6rem;
  padding: 4.8rem 3.8rem;
  color: lab(2.42579% -0.165291 -0.470081);

  h2 {
    font-size: 4rem;
  }

  p {
    max-width: 58rem;
    font-size: 1.6rem;
    text-align: center;
    color: lab(2.42579% -0.165291 -0.470081 / 0.8);
    /* background: red; */
  }
}

.feature-card {
  padding: 0.4rem;
  border: 1px solid lab(2.42579% -0.165291 -0.470081/0.07);
  border-radius: 2.4rem;

  .feature-card-header {
    padding: 2.4rem;
  }

  .feature-card-tag {
    color: var(--color-brand);
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    font-weight: 500;
    line-height: 1.8rem;
  }

  h3 {
    font-size: 2.4rem;
    font-weight: 500;
    padding: 1.6rem 0;
  }

  p {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: lab(2.42579% -0.165291 -0.470081 / 0.8);
    text-wrap: balance;
  }

  .feature-card-skeleton {
    height: 32rem;
  }
}

.card-full {
  padding: 4.8rem 3.2rem;
  overflow: hidden;
}

.card3-img {
  margin-top: 4rem;
  height: 36rem;
}

.features-2 {
  background-color: lab(2.42579 -0.165291 -0.470081 / 0.03);
  padding: 9.6rem 0;

  .features-2-container {
    max-width: 102.4rem;
    width: 100%;
    margin: 0 auto;
  }
}

.f2-row1 {
  padding: 0 0 4.8rem 0;
}

.feature2-card-tag {
  color: var(--color-brand);
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  font-weight: 500;
  line-height: 1.8rem;
}

.feature2-heading {
  font-size: 4rem;
  font-weight: 600;
  padding: 1.6rem 0;
  line-height: 1.2;
  color: lab(2.42579% -0.165291 -0.470081);
  text-wrap: balance;
  max-width: 47.2rem;
}

.feature2-text {
  color: lab(2.42579% -0.165291 -0.470081/0.8);
  font-size: 1.6rem;
}

.btn-big {
  display: inline-block;
  padding: 0.7rem 2.4rem;
  border-radius: 100rem;
  background-color: var(--text-black-button);
  color: var(--text-main-light);
  font-size: 1.5rem;
  border: 1px solid var(--text-black-button);
  margin-top: auto;
  font-weight: 500;
}

.heading-small {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  color: var(--text-main-black);
  margin-top: 3.2rem;
  margin-bottom: 1.6rem;
}

.row2-icon {
  width: 3.2rem;
  height: 3.2rem;

  img {
    filter: invert(44%) sepia(76%) saturate(350%) hue-rotate(113deg)
      brightness(97%) contrast(90%);
  }
}

.row3-card {
  margin-top: 6.8rem;
  height: 51.8rem;
  width: 100%;
  border-radius: 2.4rem;
  background-color: red;
  background-image: url("../assets/door.svg");
  background-size: 115%;
  background-position: center;
  background-repeat: no-repeat;
}

.story-grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5rem;
  margin-top: 4.2rem;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.story-btn {
  display: inline-block;
  width: 14rem;
  height: 6.4rem;
}

.story-btn-img {
  width: 77%;
  height: auto;
  object-fit: cover;
}

.story-btn:not(:first-child) .story-btn-img {
  filter: grayscale(1) saturate(2) opacity(0.8);
}

.story-btn:first-child .story-btn-img {
  width: 85%;
}

.customer-container {
  padding: 4.8rem 3.2rem;
}

.customer-heading {
  font-size: 4rem;
  font-weight: 600;
  padding: 1.6rem 0;
  line-height: 1.2;
  color: lab(2.42579% -0.165291 -0.470081);
  text-wrap: balance;
}

.customer-text {
  max-width: 62rem;
}

.carousel-row {
  display: flex;
  gap: 2.4rem;
  flex-wrap: nowrap;
}

.carousel-card {
  display: inline-block;
  width: 39.4rem;
  position: relative;
}

.carousel-img {
  position: relative;
  width: 39.4rem;
  height: 29rem;
  border-radius: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.carousel-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  z-index: -1;
  inset: 0;
}

.carousel-img-main {
  width: 50%;
  height: auto;
  object-fit: cover;
  filter: brightness(0) invert(1);
}

.read-more-btn {
  font-size: 1.5rem;
  color: var(--color-brand);
  gap: 0.6rem;

  img {
    width: 1.2rem;
    height: 1.2rem;
    rotate: 270deg;
    filter: invert(44%) sepia(76%) saturate(350%) hue-rotate(113deg)
      brightness(97%) contrast(90%);
  }
}

.carousel-text {
  padding-top: 2rem;
}

.carousel-nav {
  display: flex;
  gap: 1.6rem;
  margin-top: 4.8rem;
}

.carousel-nav-btn {
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 100rem;
  background-color: var(--text-black-button);
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-nav-btn img {
  width: 1.2rem;
  height: 1.2rem;
  filter: invert(1);
}

.carousel-nav-btn .left {
  rotate: 90deg;
}
.carousel-nav-btn .right {
  rotate: -90deg;
}

.btn-left {
  opacity: 0.5;
}

.cta {
  padding: 12rem 2.4rem;
  width: 100%;
}

.cta-container {
  max-width: 98.8rem;
  width: 100%;
  margin: 0 auto;
}

.cta-container h3 {
  text-align: center;
  line-height: 4.4rem;
  max-width: 56rem;
}

.cta-text {
  text-align: center;
  max-width: 56rem;
  font-size: 1.6rem;
}

.cta-btn {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  margin-top: 4.8rem;

  a {
    font-size: 1.6rem;
  }
}

.btn-extra {
  background-color: transparent;
  color: var(--text-black-button);
  border: 1px solid lab(2.42579% -0.165291 -0.470081 / 0.15);
}

.cta2 {
  margin-top: 5.6rem;
  position: relative;
  width: 100%;
  min-width: 61rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 3.2rem;
  padding: 3.2rem 0;
}

.cta2::after {
  content: "";
  position: absolute;
  width: 0.3px;
  height: 100%;
  background-color: lab(2.43% -0.12 -0.47 / 0.087);
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
}

.cta-icon {
  width: 5.4rem;
  height: 5.4rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  border-radius: 1.6rem;
  padding: 1rem;
  border: 0.5px solid lab(2.42579% -0.165291 -0.470081 / 0.15);
}

.cta-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: invert(44%) sepia(76%) saturate(350%) hue-rotate(113deg)
    brightness(97%) contrast(90%);
}

.cta2-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3.2rem;
}

.cta2-card h4 {
  font-size: 2rem;
  color: lab(2.42579% -0.165291 -0.470081);
  text-align: center;
  font-weight: 500;
}

.cta2-card p {
  font-size: 1.6rem;
  color: lab(2.42579% -0.165291 -0.470081);
  text-align: center;
  font-weight: 400;
}
