body {
  font-family: var(--main-font);
  font-feature-settings: "cv11";
  -webkit-font-smoothing: antialiased;
  /* background: #303030; */
  color: var(--text-main-light);
  font-weight: 500;
}

.navbar-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.4rem 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
}

.navbar-container {
  font-size: 1.4rem;
  position: relative;
  max-width: 105.6rem;
  width: 100%;
  margin: 0 auto;
  /* background-color: blue; */
  gap: 3.2rem;
}

.navbar {
  gap: 13rem;

  .logo-holder {
    gap: 0.4rem;
    padding-left: 3rem;
  }

  .logo-holder span {
    font-size: 2rem;
    font-weight: 700;
  }

  nav ul {
    gap: 0.4rem;

    a {
      padding: 0.4rem 1.2rem;
      display: inline-block;
    }
  }
}

.logo-holder a {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 0.5rem;

  img {
    width: 1.6rem;
    height: 1.6rem;
  }
}

.hero-section .hero-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(../assets/backgroundHero.svg);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  z-index: -1;
  mask-image: linear-gradient(
    #000 0%,
    rgba(0, 0, 0, 0.99) 18.5%,
    rgba(0, 0, 0, 0.953) 34.3%,
    rgba(0, 0, 0, 0.894) 47.6%,
    rgba(0, 0, 0, 0.824) 58.5%,
    rgba(0, 0, 0, 0.74) 67.5%,
    rgba(0, 0, 0, 0.647) 74.7%,
    rgba(0, 0, 0, 0.55) 80.3%,
    rgba(0, 0, 0, 0.45) 84.7%,
    rgba(0, 0, 0, 0.353) 88%,
    rgba(0, 0, 0, 0.26) 90.5%,
    rgba(0, 0, 0, 0.176) 92.5%,
    rgba(0, 0, 0, 0.106) 94.2%,
    rgba(0, 0, 0, 0.047) 95.9%,
    rgba(0, 0, 0, 0.01) 97.7%,
    transparent 100%
  );
}

.nav-cta {
  gap: 1rem;
}

.btn {
  padding: 0.45rem 1.2rem;
  border-radius: 100rem;
}

.btn-primary {
  background-color: var(--bg-soft);
  /* border: 1px solid var(--bg-soft); */
}

.btn-secondary {
  background-color: var(--text-main-light);
  color: var(--text-black-button);
  /* border: 1px solid var(--text-main-light); */
}

.hero-section {
  height: 5000px;
}
