body {
  font-family: var(--main-font);
  font-feature-settings: "cv11";
  -webkit-font-smoothing: antialiased;
  /* background: #303030; */
  color: var(--text-main-light);
  font-weight: 500;
  font-family: var(--font-main);
}

.navbar-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.6rem 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
}

.navbar-container {
  font-size: 1.5rem;
  position: relative;
  max-width: 105.6rem;
  width: 100%;
  margin: 0 auto;
  /* background-color: blue; */
  gap: 3.2rem;
}

.navbar {
  gap: 16.8rem;

  .logo-holder {
    gap: 0.4rem;
  }

  .logo-holder span {
    font-size: 2.5rem;
    font-weight: 700;
  }

  nav ul {
    gap: 0.4rem;

    a {
      padding: 0.4rem 1.2rem;
      display: inline-block;
    }
  }
}

.logo-holder a {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 0.5rem;

  img {
    width: 2rem;
    height: 2rem;
  }
}

.hero-section .hero-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(../assets/backgroundHero.svg);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  z-index: -1;
  mask-image: linear-gradient(
    #000 0%,
    rgba(0, 0, 0, 0.99) 18.5%,
    rgba(0, 0, 0, 0.953) 34.3%,
    rgba(0, 0, 0, 0.894) 47.6%,
    rgba(0, 0, 0, 0.824) 58.5%,
    rgba(0, 0, 0, 0.74) 67.5%,
    rgba(0, 0, 0, 0.647) 74.7%,
    rgba(0, 0, 0, 0.55) 80.3%,
    rgba(0, 0, 0, 0.45) 84.7%,
    rgba(0, 0, 0, 0.353) 88%,
    rgba(0, 0, 0, 0.26) 90.5%,
    rgba(0, 0, 0, 0.176) 92.5%,
    rgba(0, 0, 0, 0.106) 94.2%,
    rgba(0, 0, 0, 0.047) 95.9%,
    rgba(0, 0, 0, 0.01) 97.7%,
    transparent 100%
  );
}

.nav-cta {
  gap: 1rem;
}

.btn {
  padding: 0.45rem 1.2rem;
  border-radius: 100rem;
}

.btn-primary {
  background-color: var(--bg-soft);
  /* border: 1px solid var(--bg-soft); */
}

.btn-secondary {
  background-color: var(--text-main-light);
  color: var(--text-black-button);
  /* border: 1px solid var(--text-main-light); */
}

.hero-tag {
  width: fit-content;
  margin: 0 auto;
  padding: 0.4rem 0.4rem;
  border-radius: 100rem;
  background-color: var(--bg-dark);
  color: var(--text-main-light);
  position: relative;
  top: 9rem;
  gap: 1rem;
  font-size: 1.4rem;
}

.tag-icon {
  width: 1.5rem;
  height: 1.5rem;
  filter: invert(1);
  margin-right: 0.8rem;
}

.new-tag {
  display: inline-block;
  padding: 0.2rem 0.8rem;
  font-size: 1.2rem;
  border-radius: 100rem;
  background-color: var(--color-brand);
  text-transform: uppercase;
}

.hero-content {
  padding-top: 12.4rem;
  padding-bottom: 9.6rem;

  h1 {
    font-size: 6.4rem;
    font-weight: 600;
    max-width: 68.8rem;
    width: 100%;
    text-align: center;
    line-height: 1.2;
    letter-spacing: -1.28px;
  }

  p {
    font-size: 1.8rem;
    text-align: center;
    line-height: 1.5;
    max-width: 47.2rem;
    margin-top: 2.4rem;
    letter-spacing: -0.4px;
  }

  form {
    max-width: 36rem;
    width: 100%;
    margin-top: 3.2rem;
    padding: 0.4rem;
    border-radius: 100rem;
    background-color: lab(100% 0 0/0.15);
    position: relative;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    border: 1px solid lab(100% 0 0/0.15);
    backdrop-filter: blur(12px);
  }

  form input {
    border: none;
    background-color: transparent;
    outline: none;
    color: var(--text-main-light);
    padding-left: 1.2rem;
    height: 3.2rem;
    width: 100%;
    border-radius: 100rem;
  }

  form input::placeholder {
    color: lab(100% 0 0/0.5);
  }

  form button {
    min-width: fit-content;
  }
}

.hero-section {
  height: 5000px;
}
