.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.mr-3 {
  margin-right: 7rem;
}

.gap-1 {
  gap: 2.4rem;
}
